<configuration>
	<connectionStrings>
		<add name="ShopDB_0" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=db\Shop.mdb"/>
		<add name="ShopDB" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.175;Initial Catalog=Sales;User ID=dbviewer;Password=dbviewer"/>
	</connectionStrings>
</configuration>