<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CustomerSupport" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8013/shopping/CustomerSoap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CustomerSupport"
                contract="Shopping.CustomerSupport" name="BasicHttpBinding_CustomerSupport" />
        </client>
    </system.serviceModel>
</configuration>